.gun-type-button {
    min-width: 130px;
}

.gun-make-button {
    min-width: 160px;
}

.centered-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-button, .remove-button {
    min-width: 67px;
}
